<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd">
        
        <!-- c3p0 -->
        <bean name="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
	    	<property name="driverClass" value="com.mysql.jdbc.Driver"/>
	    	<property name="jdbcUrl" value="jdbc:mysql://localhost:3306/test1"/>
	    	<property name="user" value="root"/>
	    	<property name="password" value="977630"/>
    	</bean>
        
        <!-- sessionFactory -->
        <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        	<property name="dataSource" ref="dataSource"></property>
        	<property name="configLocations" value="classpath:hibernate.cfg.xml"></property>
        </bean>
        
        <bean id="saveHero" class="x.d.action.SaveHeroAction" scope="prototype">
        	<property name="heroService" ref="heroServiceImpl"></property>
        </bean>
        <bean id="listHeros" class="x.d.action.FindAllHerosAction" scope="prototype">
        	<property name="heroService" ref="heroServiceImpl"></property>
        </bean>
        <bean id="removeHero" class="x.d.action.RemoveHeroAction" scope="prototype">
        	<property name="heroService" ref="heroServiceImpl"></property>
        </bean>
        <bean id="findHeroId" class="x.d.action.FindHeroIdAction" scope="prototype">
        	<property name="heroService" ref="heroServiceImpl"></property>
        </bean>
        <bean id="updateHero" class="x.d.action.UpdateHeroAction" scope="prototype">
        	<property name="heroService" ref="heroServiceImpl"></property>
        </bean>
        
        <!-- serviceImpl -->
        <bean id="heroServiceImpl" class="x.d.service.impl.HeroServiceImpl">
        	<property name="heroDao" ref="heroDaoImpl"></property>
        </bean>
        
        <!-- daoImpl -->
        <bean id="heroDaoImpl" class="x.d.dao.impl.HeroDaoImpl">
        	<property name="hibernateTemplate" ref="hibernateTemplate"></property>
        </bean>
        
        <!--  -->
        <bean id="hibernateTemplate" class="org.springframework.orm.hibernate4.HibernateTemplate">
        	<property name="sessionFactory" ref="sessionFactory"></property>
        </bean>
        
        <bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        	<property name="sessionFactory" ref="sessionFactory"></property>
        </bean>
        
        <tx:annotation-driven transaction-manager="transactionManager"/>
        
 </beans>